/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: inline-block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Custom styles of the page
*/

@font-face {
    font-family: CustomFont;
    src: url('../fonts/Bangers.ttf');
}

@font-face {
    font-family: NormalArticle;
    src: url('../fonts/DroidSerif.ttf');
}

@font-face {
    font-family: BoldItalicHeader;
    src: url('../fonts/DroidSerif-BoldItalic.ttf');
}

body {
    background-color: lightgray;
    font-family: CustomFont, sans-serif;
    min-width: 270px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1.lead-heading {
    font-size: 48px;
}

div#top-menu {
    width: auto;
    min-height: 200px;
    text-align: left;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
    border: 7px outset white;
    border-radius: 0 0 25% 25%;
    background: url("../res/header2.jpg") no-repeat;
    background-size: cover;
    color: white;
}

section#aside-menu {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: center;
}

ul.location-list {
    font-family: Georgia sans-serif;
    font-size: 20px;
    text-align: center;
}

ul.location-list li {
    margin-top: 5px;
    margin-bottom: 2px;
    border: 4px outset lawngreen;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}

ul.location-list li a {
    text-decoration: none;
    color: green;
}

ul.location-list li a:hover {
    color: royalblue;
    font-style: italic;
}

section#content {
    display: inline-block;
    width: 78%;
    float: right;
}

div#article-holder {
    border-bottom: 3px dotted white;
    border-right: 3px dotted white;
}

select#article-selector {
    right: 10px;
    top: 8px;
    width: 95%;
    height: 40px;
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    border: 3px outset lawngreen;
    background-color: white;
    text-align: center;
}

div#article-container-header {
    text-align: center;
    background-color: greenyellow;
    border: 2px outset black;
    border-radius: 10px 10px 40px 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: CustomFont, sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

div#article-container-header:hover {
    background-color: black;
    color: lawngreen;
    border-color: lawngreen;
}

.article-header {
    font-family: BoldItalicHeader, sans-serif;
    font-size: 28px;
    text-align: center;
    color: green;
    margin-top: 10px;
    margin-bottom: 20px;
}

.article-description, .article-main-text {
    margin: 15px;
    text-align: justify;
    font-family: NormalArticle, sans-serif;
}

img.lead-image {
    width: 80%;
}

img.trail-image {
    width: 100%;
}

.image-wrapper {
    display: inline-table;
    margin: 10px;
    width: 40px;
    height: 40px;
}

img.main-menu-icon {
    width: 90%;
}

img.main-menu-sub-icon {
    width: 30%;
    display: inline-block;
}